.container{

    background-image: url("https://cdn.pixabay.com/photo/2014/05/03/00/35/wood-336589_960_720.jpg");
    width: 100%;
    height: 150vh;
    border: 1px solid orangered;
    background-repeat: no-repeat;
    background-size: cover;
}


.mypost{
    display: flex;
    align-items: center;
    justify-content: center;
}

.myposts{
    
    text-align: center;
    border-radius: 22px;
    width: 150px;
    border-bottom: 2px solid orangered;
    padding: 10px;
    background-color:rgb(224, 242, 241, 0.65) ;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    letter-spacing: 3px;
    font-weight: bolder;
    margin-top: 4%;
    margin-bottom: 3%;
   
}


.myposts:hover{ 
    border-bottom: 2px solid orangered ;
    background-color: transparent;
    transition: 2s;
    color:rgb(0, 105, 92)
    


}

.modal{
    display: flex;
    align-items: flex-end;
    justify-content:flex-end;
    width: 200px;
}