.contain{
    background-image: url('https://cdn.pixabay.com/photo/2015/06/08/15/11/typewriter-801921_960_720.jpg');
    width: 100%;
    height: 100%;
    border: 1px solid orangered;
    background-position:top ;
    background-repeat: no-repeat;
    background-size: cover;
}

.title{
    position: absolute;
    color: #e0f2f1;
    top : 30%;
    left: 5%;
    font-size: 50px;
    letter-spacing: 4px;
    font-family: 'Piazzolla', serif;
    
}

.spanou{
    color: orangered;
}


section{
    height: 400px;
    border-bottom: 1px solid orangered;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}

.post{
    display: flex;
    align-items: center;
    justify-content: center;
}
.posts{
    
    text-align: center;
    border-radius: 22px;
    width: 150px;
    border-bottom: 2px solid orangered;
    padding: 10px;
    background-color:rgb(224, 242, 241, 0.65) ;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    letter-spacing: 3px;
    

    font-weight: bolder;
}

.posts:hover{
    border-bottom: 2px solid rgb(0, 105, 92);
    background-color: transparent;
    transition: 2s;
    color: orangered;
    


}

footer{
    height: 70px;
    background-color:  rgb(0, 105, 92, 0.70);
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p{

    color: #e0f2f1;
    

}

